:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: NorseBold;
    --font-size-small: 15px;
    --font-size-medium: 20px;
}




html, body {
    margin: 0;
}

input, label {
    display: block;
}


a {
    text-decoration: none;
    color: #596D48;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    }


@font-face {
    font-family: NorseBold;
    src: url('../font/Norse-Bold.otf');
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#img-sidebar {
    position: relative;
    height: 100vh;
    background-image: url('../img/photo-1585202900225-6d3ac20a6962.avif');
    background-size: 100%;
    grid-column: 1 / span 1;
}

#odin-img-container {
    display: flex;
    position: absolute;
    top: 20%;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-size: 70px;
    min-width: 150px;
    align-items: center;
}

#odin-img-container img {
    height: 100px;
    width: 100px;
}

#sign-up-form-container {
    background-color: white;
    padding: 1rem 0;
}

#sign-up-form-container > * {
    margin-left: 3rem;
}

#product-description-box {
    margin-left: 3rem;
}

#form-column {
    grid-column: 2 / span 2;
    background-color: #F2F3F5;
}

#form-column > :first-child {
    margin-top: 5rem;
}

#form-column > * {
    margin-bottom: 2rem;
}

#form-grid-container {
    display: grid;
    width: 70%;
    height: 25vh;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;                    
}

#form-grid-container input {
    width: 15rem;
}

#form-grid-container input:focus {
    width: 15rem;
    border: 3px solid #577bdf;
}

#form-grid-container input:invalid {
    border: 1px solid red;
}


#log-in-box {
    margin-left: 3rem;
}

#log-in-box > * {
    margin-bottom: 1rem;
}

#log-in-box button {
    background-color: #596D48;
    font-size: 16px;
    color: whitesmoke;
    padding: 1rem 3rem;
    border-radius: 10%;
}

/* utility classes */

.text-small {
    font-size: var(--font-size-small);
}

.text-medium {
    font-size: var(--font-size-medium);
}

.error-input {
    border: 1px solid red;
}

div input + p {
    color: red;
}

